*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    font-size: 18px;
    background-color: #f2f2f2;
}

.container{
    background-color: rgb(207, 203, 203);
    width: 500px;
    height: 750px;
    margin: 50px auto 10px;
    border-top: 20px solid rgb(242, 157, 242);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}
.container h2{
    font-size: 24px;
    line-height:50px;
    padding-bottom:25px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.user{
    
    padding: 8px 10px 10px ;
}

.name{
    width: 39%;
    padding: 7px;
    text-align: center;
}

.input-name span{
    margin-left: 20px;
}

.input-name i{
    position: absolute;
    font-size: 18px;
    color: rgb(100, 100, 100);
    border-right: 1px solid #726e6e;
}

.icon{
    padding: 9px;
}

.text-name{
    width: 83%;
    padding: 7px;
    text-align: center;
}

.name, .text-name{
    border: 1px soild #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    
}

.name:hover, .text-name:hover{
    background-color: #ece9e9;
}
.name:focus, .text-name:focus{
    border: 1px solid #695858;
}

.radio-button{
    margin: 3px;
}

.button{
    font-size: large;
    width: 83%;
    position: absolute;
    padding:7px;
    background-color:rgb(10, 10, 244);
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 40px;
    cursor: pointer;
    
}

.button:hover , .button:focus{
    background-color: #1c19e0;

    /*border: 1px solid #444242;*/
}
label{
    margin-left: 4px;
}
.file-name{
    color:#343232;
    padding:5px;
    
}
.name, .text-name, .file-name{
    font-size: medium;
}
.container{
    border: 2px solid red;
}
.form-container{
    margin-left: 10px;
    border: 1px solid blue;
}
@media(max-width:500px)
{
    .container{
        width: 100%;
        border: 2px solid red;
    }
    .form-container{
        border: 1px solid blue;
    }
    .input-name{
        margin-bottom: -10px;
    }
    .name{
        margin-bottom: 10px;
    }
    .input-name span{
        padding: 0;
        margin: 0;
    }
    .name, .text-name, .file-name,.button {
        width: 100%;
        padding: 8px 0px 8px 40px;
        
    }
    .file-name{
       padding: 0%;
    }
}